In [2]:
import pandas as pd
import numpy as np
import dash
import dash_html_components as html
from dash import dcc
from dash.dependencies import Input, Output, State
import plotly.graph_objects as go
import plotly.express as px
from dash import no_update
pd.options.mode.chained_assignment = None

C:\Users\upadh\AppData\Local\Temp/ipykernel_17864/1813589363.py:4: UserWarning:
The dash_html_components package is deprecated. Please replace
`import dash_html_components as html` with `from dash import html`
  import dash_html_components as html

In [3]:
df = pd.read_csv(r'C:\Users\upadh\Desktop\Notebook\housing.csv')
df

,Title,Address,City,Price,Bedroom,Bathroom,Floors,Parking,Face,Year,Views,Area,Road,Road Width,Road Type,Build Area,Posted,Amenities
0,Flat System House On Sale At Budhanikantha : H...,"Budhanikantha, Budhanilkantha, Kathmandu",Kathmandu,90000000,6,3,2.0,10,West,2073.0,17,1-0-0-0 Aana,20 Feet / Blacktopped,20 Feet,Blacktopped,18-0-0-0 Aana,11 hours ago,"['Parking', 'Lawn', 'Garage', 'Frontyard', 'Fe..."
1,21 Aana Beautiful House : House For Sale In Bu...,"Pasikot, Budhanilkantha, Kathmandu",Kathmandu,80000000,5,3,2.0,9,East,2073.0,26,0-21-0-0 Aana,20 Feet / Blacktopped,20 Feet,Blacktopped,0-14-0-0 Aana,12 hours ago,"['Parking', 'Garage', 'Fencing', 'Frontyard', ..."
2,Beautiful To Floor House : House For Sale In D...,"Dhapasi, Dhapasi, Kathmandu",Kathmandu,70000000,5,3,2.0,12,East,2071.0,154,1-1-0-0 Aana,20 Feet / Blacktopped,20 Feet,Blacktopped,10-1-0-0 Aana,2 days ago,"['Parking', 'Lawn', 'Garage', 'Frontyard', 'Fe..."
3,Modern Architecture Bungalow House : House For...,"baluwatar, Baluwatar, Kathmandu",Kathmandu,130000000,6,4,3.0,9,West,2017.0,17,0-10-1-0 Aana,20 Feet / Blacktopped,20 Feet,Blacktopped,0-7-1-0 Aana,1 day ago,"['Parking', 'Lawn', 'Garage', 'Frontyard', 'Fe..."
4,Modern Bungalow House : House For Sale In Golf...,"Golfutar, Golfutar, Kathmandu",Kathmandu,100000000,6,3,2.0,10,East,2070.0,59,0-19-2-0 Aana,20 Feet / Blacktopped,20 Feet,Blacktopped,0-14-2-0 Aana,2 days ago,"['Parking', 'Lawn', 'Garage', 'Balcony', 'Back..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2206,"House For Rent In Chapali, Kathmandu","Bhangal, Chapali, Kathmandu",Kathmandu,500000,5,5,3.0,5,North East,NaN,3.1K,1 Ropani,16 Feet,16 Feet,NaN,N/A Sq. Feet,1 year ago,"['Balcony', 'Frontyard', 'Garden', 'Drainage',..."
2207,"House For Sale In Sitapaila, Kathmandu","Nagarjun, Sitapaila, Kathmandu",Kathmandu,12000000,4,2,2.0,1,North East,NaN,1.4K,2.5 Aana,13 Feet,13 Feet,NaN,N/A Sq. Feet,1 year ago,"['Balcony', 'Frontyard', 'Drainage', 'Water Su..."
2208,"House For Sale In Budhanilkantha, Kathmandu","Deuja Chowk, Budhanilkantha, Kathmandu",Kathmandu,27000000,5,3,2.0,1,East,2071.0,1.5K,8 Aana,12 Feet,12 Feet,NaN,N/A Sq. Feet,1 year ago,"['Balcony', 'Frontyard', 'Drainage', 'Water Su..."
2209,"House For Rent In Baneshwor, Kathmandu","Bhimsengola, Baneshwor, Kathmandu",Kathmandu,300000,9,3,2.0,4,North,NaN,2.5K,51 Aana,13 Feet,13 Feet,NaN,N/A Sq. Feet,1 year ago,"['Drainage', 'Water Supply', 'Garden', 'Fronty..."
2210,"House For Sale In Baluwatar, Kathmandu","Gocha marg, Baluwatar, Kathmandu",Kathmandu,72500000,5,2,3.0,5,East,NaN,19.6K,13 Aana,12 Feet,12 Feet,NaN,13 Aana,1 year ago,"['Garage', 'Balcony', 'Frontyard', 'Drainage',..."

In [206]:
df.dtypes

Title          object
Address        object
City           object
Price           int64
Bedroom         int64
Bathroom        int64
Floors        float64
Parking         int64
Face           object
Year          float64
Views          object
Area           object
Road           object
Road Width     object
Road Type      object
Build Area     object
Posted         object
Amenities      object
dtype: object

In [4]:
def get_unit(x):
    unit = x.split()
    return unit[1]
def get_area(x):
    area = x.split()
    return area[0]

In [5]:
df['Unit']=df['Area'].apply(lambda x:  f"{get_unit(x)}")
df['New_Area'] = df['Area'].apply(lambda x: f"{get_area(x)}")

In [6]:
df_filtered = df[(df['Unit']!='Aana') & (df['Unit']!='Ropani')].index
df_filtered

Int64Index([  35,   38,   47,   64,   65,   73,   83,   88,   95,  105,
            ...
            2142, 2171, 2175, 2179, 2180, 2182, 2183, 2189, 2192, 2198],
           dtype='int64', length=416)

In [7]:
df.drop(df_filtered,axis=0,inplace = True)

In [8]:
df2=df[~df['New_Area'].str.contains("-")]

In [355]:
df2.shape

(1020, 20)

In [356]:
df.shape

(1795, 20)

In [357]:
df2.isnull().sum()

Title           0
Address         0
City            0
Price           0
Bedroom         0
Bathroom        0
Floors        485
Parking         0
Face            0
Year          737
Views           0
Area            0
Road            0
Road Width      0
Road Type     393
Build Area      0
Posted          0
Amenities       0
Unit            0
New_Area        0
dtype: int64

In [9]:
def get_width(x):
    z=x.split()
    return z[0]

In [10]:
df2['Road_Width']=df2['Road Width'].apply(lambda x: f"{get_width(x)}")

In [11]:
df2

,Title,Address,City,Price,Bedroom,Bathroom,Floors,Parking,Face,Year,...,Area,Road,Road Width,Road Type,Build Area,Posted,Amenities,Unit,New_Area,Road_Width
10,Beautiful House For Sale : House For Sale In L...,"4, Lekhnath, Pokhara",Pokhara,32000000,4,5,3.0,3,South West,2075.0,...,14 Aana,15 Feet / Blacktopped,15 Feet,Blacktopped,7 Aana,3 weeks ago,"['Parking', 'Backyard']",Aana,14,15
12,Budhanilkantha Mandir 1 Floor Home : House For...,"Na, Budhanilkantha, Kathmandu",Kathmandu,15000000,2,2,1.0,1,South,2074.0,...,5 Aana,12 Feet / Gravelled,12 Feet,Gravelled,N/A Aana,1 month ago,['Parking'],Aana,5,12
13,"House For Sale , Hepali Height : House For Sal...","Na, Budhanilkantha, Kathmandu",Kathmandu,52500000,5,5,3.0,3,South East,2075.0,...,8 Aana,20 Feet / Blacktopped,20 Feet,Blacktopped,N/A Aana,1 month ago,"['Parking', 'Garage', 'Modular Kitchen', 'Micr...",Aana,8,20
14,Tokha Grandy Height Home : House For Sale In B...,"Na, Budhanilkantha, Kathmandu",Kathmandu,26500000,6,6,3.0,1,East,2076.0,...,4 Aana,13 Feet / Paved,13 Feet,Paved,N/A Aana,1 month ago,['Parking'],Aana,4,13
15,Sitapaila Modern Semi Bungalow : House For Sal...,"NA, Sitapaila, Kathmandu",Kathmandu,25500000,6,6,3.0,1,East,2076.0,...,4 Aana,13 Feet / Gravelled,13 Feet,Gravelled,2700 Sq. Feet,1 month ago,['Parking'],Aana,4,13
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2206,"House For Rent In Chapali, Kathmandu","Bhangal, Chapali, Kathmandu",Kathmandu,500000,5,5,3.0,5,North East,NaN,...,1 Ropani,16 Feet,16 Feet,NaN,N/A Sq. Feet,1 year ago,"['Balcony', 'Frontyard', 'Garden', 'Drainage',...",Ropani,1,16
2207,"House For Sale In Sitapaila, Kathmandu","Nagarjun, Sitapaila, Kathmandu",Kathmandu,12000000,4,2,2.0,1,North East,NaN,...,2.5 Aana,13 Feet,13 Feet,NaN,N/A Sq. Feet,1 year ago,"['Balcony', 'Frontyard', 'Drainage', 'Water Su...",Aana,2.5,13
2208,"House For Sale In Budhanilkantha, Kathmandu","Deuja Chowk, Budhanilkantha, Kathmandu",Kathmandu,27000000,5,3,2.0,1,East,2071.0,...,8 Aana,12 Feet,12 Feet,NaN,N/A Sq. Feet,1 year ago,"['Balcony', 'Frontyard', 'Drainage', 'Water Su...",Aana,8,12
2209,"House For Rent In Baneshwor, Kathmandu","Bhimsengola, Baneshwor, Kathmandu",Kathmandu,300000,9,3,2.0,4,North,NaN,...,51 Aana,13 Feet,13 Feet,NaN,N/A Sq. Feet,1 year ago,"['Drainage', 'Water Supply', 'Garden', 'Fronty...",Aana,51,13
2210,"House For Sale In Baluwatar, Kathmandu","Gocha marg, Baluwatar, Kathmandu",Kathmandu,72500000,5,2,3.0,5,East,NaN,...,13 Aana,12 Feet,12 Feet,NaN,13 Aana,1 year ago,"['Garage', 'Balcony', 'Frontyard', 'Drainage',...",Aana,13,12

In [12]:
df2.isnull().sum()

Title           0
Address         0
City            0
Price           0
Bedroom         0
Bathroom        0
Floors        485
Parking         0
Face            0
Year          737
Views           0
Area            0
Road            0
Road Width      0
Road Type     393
Build Area      0
Posted          0
Amenities       0
Unit            0
New_Area        0
Road_Width      0
dtype: int64

In [13]:
df3 = df2.drop(["Title","Address","Floors","Parking","Year","Views","Area","Road Width","Road Type","Build Area","Posted"],axis = 1)

In [14]:
df3

,City,Price,Bedroom,Bathroom,Face,Road,Amenities,Unit,New_Area,Road_Width
10,Pokhara,32000000,4,5,South West,15 Feet / Blacktopped,"['Parking', 'Backyard']",Aana,14,15
12,Kathmandu,15000000,2,2,South,12 Feet / Gravelled,['Parking'],Aana,5,12
13,Kathmandu,52500000,5,5,South East,20 Feet / Blacktopped,"['Parking', 'Garage', 'Modular Kitchen', 'Micr...",Aana,8,20
14,Kathmandu,26500000,6,6,East,13 Feet / Paved,['Parking'],Aana,4,13
15,Kathmandu,25500000,6,6,East,13 Feet / Gravelled,['Parking'],Aana,4,13
...,...,...,...,...,...,...,...,...,...,...
2206,Kathmandu,500000,5,5,North East,16 Feet,"['Balcony', 'Frontyard', 'Garden', 'Drainage',...",Ropani,1,16
2207,Kathmandu,12000000,4,2,North East,13 Feet,"['Balcony', 'Frontyard', 'Drainage', 'Water Su...",Aana,2.5,13
2208,Kathmandu,27000000,5,3,East,12 Feet,"['Balcony', 'Frontyard', 'Drainage', 'Water Su...",Aana,8,12
2209,Kathmandu,300000,9,3,North,13 Feet,"['Drainage', 'Water Supply', 'Garden', 'Fronty...",Aana,51,13
2210,Kathmandu,72500000,5,2,East,12 Feet,"['Garage', 'Balcony', 'Frontyard', 'Drainage',...",Aana,13,12

In [15]:
df3["Amenities"]=df3["Amenities"].str.strip('[]').str.split(',')

In [16]:
df3["Amenities"]

10                               ['Parking',  'Backyard']
12                                            ['Parking']
13      ['Parking',  'Garage',  'Modular Kitchen',  'M...
14                                            ['Parking']
15                                            ['Parking']
                              ...
2206    ['Balcony',  'Frontyard',  'Garden',  'Drainag...
2207    ['Balcony',  'Frontyard',  'Drainage',  'Water...
2208    ['Balcony',  'Frontyard',  'Drainage',  'Water...
2209    ['Drainage',  'Water Supply',  'Garden',  'Fro...
2210    ['Garage',  'Balcony',  'Frontyard',  'Drainag...
Name: Amenities, Length: 1020, dtype: object

In [17]:
df3["Number of Amenities"]=df3["Amenities"].apply(lambda x: len(x))

In [18]:
df3

,City,Price,Bedroom,Bathroom,Face,Road,Amenities,Unit,New_Area,Road_Width,Number of Amenities
10,Pokhara,32000000,4,5,South West,15 Feet / Blacktopped,"['Parking', 'Backyard']",Aana,14,15,2
12,Kathmandu,15000000,2,2,South,12 Feet / Gravelled,['Parking'],Aana,5,12,1
13,Kathmandu,52500000,5,5,South East,20 Feet / Blacktopped,"['Parking', 'Garage', 'Modular Kitchen', 'M...",Aana,8,20,9
14,Kathmandu,26500000,6,6,East,13 Feet / Paved,['Parking'],Aana,4,13,1
15,Kathmandu,25500000,6,6,East,13 Feet / Gravelled,['Parking'],Aana,4,13,1
...,...,...,...,...,...,...,...,...,...,...,...
2206,Kathmandu,500000,5,5,North East,16 Feet,"['Balcony', 'Frontyard', 'Garden', 'Drainag...",Ropani,1,16,5
2207,Kathmandu,12000000,4,2,North East,13 Feet,"['Balcony', 'Frontyard', 'Drainage', 'Water...",Aana,2.5,13,4
2208,Kathmandu,27000000,5,3,East,12 Feet,"['Balcony', 'Frontyard', 'Drainage', 'Water...",Aana,8,12,4
2209,Kathmandu,300000,9,3,North,13 Feet,"['Drainage', 'Water Supply', 'Garden', 'Fro...",Aana,51,13,6
2210,Kathmandu,72500000,5,2,East,12 Feet,"['Garage', 'Balcony', 'Frontyard', 'Drainag...",Aana,13,12,5

In [19]:
df3['New_Area'] = df3['New_Area'].apply(lambda x:".".join(x.split(".")[0:2]))

In [20]:
df4=df3[df3['New_Area'].str.contains('^(?:\d{1,2})?(?:\.\d{1,2})?$',regex=True)]

In [21]:
# df4['New_Area']=df4['New_Area'].astype(float)
df4['New_Area']=pd.to_numeric(df4['New_Area'])

In [22]:
df4['Road_Width']=df4['Road_Width'].astype(int)

In [23]:
df4['New_Area']=np.where(df4['Unit']=='Ropani',df4['New_Area']*16,df4['New_Area'])

In [24]:
df4.drop(['Unit'],axis=1)

,City,Price,Bedroom,Bathroom,Face,Road,Amenities,New_Area,Road_Width,Number of Amenities
10,Pokhara,32000000,4,5,South West,15 Feet / Blacktopped,"['Parking', 'Backyard']",14.0,15,2
12,Kathmandu,15000000,2,2,South,12 Feet / Gravelled,['Parking'],5.0,12,1
13,Kathmandu,52500000,5,5,South East,20 Feet / Blacktopped,"['Parking', 'Garage', 'Modular Kitchen', 'M...",8.0,20,9
14,Kathmandu,26500000,6,6,East,13 Feet / Paved,['Parking'],4.0,13,1
15,Kathmandu,25500000,6,6,East,13 Feet / Gravelled,['Parking'],4.0,13,1
...,...,...,...,...,...,...,...,...,...,...
2206,Kathmandu,500000,5,5,North East,16 Feet,"['Balcony', 'Frontyard', 'Garden', 'Drainag...",16.0,16,5
2207,Kathmandu,12000000,4,2,North East,13 Feet,"['Balcony', 'Frontyard', 'Drainage', 'Water...",2.5,13,4
2208,Kathmandu,27000000,5,3,East,12 Feet,"['Balcony', 'Frontyard', 'Drainage', 'Water...",8.0,12,4
2209,Kathmandu,300000,9,3,North,13 Feet,"['Drainage', 'Water Supply', 'Garden', 'Fro...",51.0,13,6
2210,Kathmandu,72500000,5,2,East,12 Feet,"['Garage', 'Balcony', 'Frontyard', 'Drainag...",13.0,12,5

In [25]:
df4=df4[(df4['Price']>100000) &(df4['Price']<900000000)]

In [507]:
df4.to_csv(r'C:\Users\upadh\Desktop\Notebook\house_clean6.csv')